.contentSide {
  gap: 1.5rem;
}

.contentSide h2 {
  line-height: 1.5;
}


.introContainer {
  position: relative;
  width: 100%;
  min-height: 300px;
  overflow: hidden;
  z-index: 1;
}

.heroOverlay {
  background: url("../../assets/bg-intro-mobile.svg") no-repeat center;
  background-size: cover;
  min-height: 300px;
  min-width: 300px;
  width: 100%;
}

.heroOverlay {
  position: absolute;
  top: -3rem;
  z-index: 2;
}

@media (min-width: 1024px), (min-width: 768px) {
  .hContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .hContainer > div {
    flex: 1;
  }

  .introContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

}

@media (min-width: 1024px) {
  .contentSide {
    margin-left: 4rem;
    align-items: start;
  }

  .introContainer {
    min-height: 400px;
    min-width: 500px;
  }

  .heroOverlay {
    background: url("../../assets/bg-intro-desktop.svg") no-repeat center;
    background-size: cover;
    min-height: 450px;
    width: 100%;
    position: absolute;
    top: -5rem;
    right: -8rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .introContainer {
    min-height: 300px;
  }

  .heroOverlay {
    background: url("../../assets/bg-intro-desktop.svg") no-repeat center;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: absolute;
    top: -3.5rem;
    right: -5rem;
  }
}
