.hContainer {
  position: relative;
  background: var(--very-light-gray);
}

.contentSide {
  gap: 1.5rem;
}

.contentSide h2 {
  line-height: 1.5;
}

.introContainer {
  position: relative;
  width: 100%;
  min-height: 300px;
  overflow: hidden;
  z-index: 1;
}
.introContainer img {
  width: 100%;
}

.phoneOverlay {
  position: absolute;
  z-index: 5;
  top: -4rem;
  width: 450px;
}

.hContainer .contentSide {
  padding-bottom: 5rem;
}

@media (min-width: 1024px), (min-width: 768px) {
  .hContainer .contentSide {
    padding-bottom: 2.5rem;
  }

  .hContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .introContainer {
    position: relative;
    width: 100%;
  }

  .phoneOverlay {
    position: absolute;
    z-index: 2;
    bottom: -10rem;
    right: -6rem;
  }

  .introContainer img {
    width: unset;
    min-width: 1000px;
    position: absolute;
    top: -7rem;
    height: 600px;
    left: -2rem;
  }
}

@media (min-width: 1024px), (min-width: 768px) {
  .hContainer {
    overflow-x: clip;
  }

  .contentSide {
    margin-left: 4rem;
    align-items: start;
  }

  .introContainer {
    min-height: 400px;
    min-width: 500px;
  }

  .phoneOverlay {
    width: 500px;
  }

  .introContainer img {
    width: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* .hContainer {
    overflow-x: clip;
  }

  .introContainer {
    min-height: 300px;
  }


  .phoneOverlay {
    min-width: 400px;
  }
  .phoneOverlay {
    top: -7rem;
  }

  .introContainer img {
    width: 500px;
  } */

  .hContainer > :nth-child(2) {
    min-width: 400px;
  }
  
  
  .hContainer > :nth-child(1) {
    min-width: 400px;
  }
}

@media (min-width: 1440px) {
  .phoneOverlay {
    width: 600px;
    top: -10rem;
  }
}
