.nContainer {
  justify-content: space-between;
  background: var(--white);
  position: relative;
  z-index: 6;
}

.mobileMenu {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: var(--white);
}

.mobileMenu.active {
  display: block;
}

.mobileMenu.closed {
  display: none;
}

.mobileMenu ul {
  gap: 1rem;
}

.nIcon button {
  transition: all 300ms ease-in-out;
}

.mobileMenu a {
  color: var(--dark-blue);
  font-weight: 500;
}

.desktopMenu {
  display: none;
}


.nContainer > button {
  display: none;
}

@media (min-width: 768px) {
  .nContainer{
    justify-content: space-evenly;
  }
}




@media (min-width: 768px), (min-width: 1024px) {
  .nContainer {
    padding: 0;
  }
  
  .mobileMenu,
  .nIcon {
    display: none;
  }

  .nContainer > button {
    display: block;
  }

  .desktopMenu {
    display: flex;
    gap: 1rem;
  }

  .nContainer .desktopMenu a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: var(--grayish-blue);
    cursor: pointer;
  }

  .desktopMenu a:hover{
    border-radius: 0;
    border-bottom: 3px solid var(--lime-green);
    color: var(--dark-blue);
  } 
}

