.fContainer {
  background: var(--dark-blue);
  text-align: center;
  color: var(--white);
  padding: 2rem;
}

.socialLinks {
  gap: 1.5rem;
}

.fContainer > :nth-child(1) {
  gap: 2rem;
  margin-bottom: 2rem;
}

.fContainer > :nth-child(2),
.fContainer > :nth-child(3) {
  gap: 1rem;
  margin-bottom: 1rem;
}

.fContainer > :nth-child(4) {
  gap: 2rem;
}

.socialLinks path:hover {
  fill: var(--lime-green);
}


.fContainer > :nth-child(2) span a:hover,
.fContainer > :nth-child(3) span a:hover {
  color: var(--lime-green);
}

@media (min-width: 1024px) {
  .fContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .fContainer > :nth-child(1) {
    margin-bottom: 0;
    gap: 4rem;
  }

  .fContainer > :nth-child(4) {
    gap: 3.5rem;
  }

  .fContainer > :nth-child(2),
  .fContainer > :nth-child(3) {
    justify-content: space-between;
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .fContainer {
    justify-content: space-evenly;
  }
}
