.fContainer {
  background: var(--dark-blue);
  text-align: center;
  color: var(--white);
  padding: 2rem;
}


.socialLinks {
  gap: 1.5rem;
}

.fContainer > :nth-child(1) {
  gap: 2rem;
  margin-bottom: 2rem;
}

.fContainer > :nth-child(2),
.fContainer > :nth-child(3) {
  gap: 1rem;
  margin-bottom: 1rem;
}

.fContainer > :nth-child(4) {
  gap: 2rem;
}

a > img:hover {
  fill: var(--lime-green);
}

.links {
  fill: var(--lime-green);
}